*{
    box-sizing: border-box;
}
[class*="col"]{
    float:left;
    /*padding: 15px;*/
    }
.row::after{
    content:"";
    clear: both;
    display:block;
}
body{
    background:#023e8a;
    font-family:"Montserrat", sans-serif;
    color:#023047;
    margin:0px;
    border: double cornflowerblue;
}
h1{
    text-align:center;
    border: double cornflowerblue;
}

h2{
    text-align:center;
    display:block;
    border: double cornflowerblue;
}

h3{
    text-align:left;
    padding:20px;
    border: double cornflowerblue;
}

p{
    background-color:#ade8f4;
    width:auto;
    padding:5px;
    border: double cornflowerblue;
}
figure{
    display:block;
    border: double cornflowerblue;
}
figcaption{
    background-color:#ade8f4;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    border: double cornflowerblue;
}
ul{
    border: double cornflowerblue;
}
li{
    border: double cornflowerblue;
}
ol{
    border: double cornflowerblue;
}
ol li{
    padding:10px;
}
div {
    border: double cornflowerblue;
}
input
fieldset{
    background-color:#0077b6;
    float:right;
    display:inline-block;
}
/*background:#5f3e25;*/
#header{
    background-color:#ade8f4;
    height:fit-content;
    width:100%;
    margin:auto;
    margin-bottom:20px;
    padding:10px;
}

/* .body{
    display:grid;
    grid-template-columns: fit-content(100%) fit-content(100%);
    grid-template-rows: fit-content(50%) fit-content(50%);
    gap:20px;
} */

#image{
    align-self:center;
    background-color: #0077b6;
    width:fit-content;
    padding:20px;
}
.block{
    background-color:#ade8f4;
    width:auto;
    height:auto;
    margin:auto;
    padding:10px;
}
#rating{
    background-color:#ade8f4;
    width:fit-content;
    height:fit-content;
    margin:auto;
    text-align:center;
}
.center-text{
    text-align:center;
}
.link{
    background: #0077b6;
    color: #0a9396;
    font-family: Georgia, 'Times New Roman', Times, serif;
}